<header><%- include("partials/header.ejs") %></header>

<body class="edit-body">
    <div class="edit-body-div">
        <% if (locals.formData) { %>
            <div class="edit-form">
                <form action="/edit" method="post">
                    <input type="text" name="id" value="<%= formData.id %>" hidden>
                    <input class="title-input txt" type="text" name="title" value="<%= formData.title %>"><br>
                    <textarea class="content-input txt" name="content"><%= formData.content %></textarea>
                    <input class="author-input txt" type="text" name="author" value="<%= formData.author %>"><br>
                    <input type="submit" value="Save" class="save-btn">
                </form>
            </div>
        <% } %>
        <div>
            <% if (locals.success) { %>
                <p><%= message %></p>
                <a href="/"><button class="return-btn btn">Back to Homepage</button></a>
            <% } %>
            <% if (locals.failure) { %>
                <div class="negative">
                    <p><%= error %></p>
                    <a href="/"><button class="return-btn btn">Back to Homepage</button></a>
                </div>
            <% } %>
        </div>
    </div>
</body>